<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Password reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
        <div class="container">
                <form action="/password-reset" method="POST">
        
                        
                       
                    <label for="password"> New Password</label>
                        <div class="input-container">
                            <input type="password" name="password" class="form-input" required/>
                        </div>
        
                    <label for="password_confirmation">Password confirmation</label>
                        <div class="input-container">
                            <input type="password" name="password_confirmation" class="form-btn" required/>
                        </div>
    
                               
                    <button type="submit">Verify Email</button>
                </form>
        
                <div class="links-container">
                    Already your password?<a href="/password-recovery">RECOVER</a>
                </div>
            </div>

        

    <script src="/main.js"></script>
</body>
</html>